<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Медикаменты</title>
    <div th:insert="~{layout :: head}"></div>
</head>
<body>
<header th:insert="~{layout :: header}"></header>
<section>
    <div class="container">
        <form id="addAmountForm" class="w-50 mb-3" >
            <div class="form-item mb-2">
                <label for="medicationId" class="form-label">Медикамент</label>
                <select id="medicationId" class="form-control">
                    <option th:each="medication : ${medications}" th:value="${medication.id}"
                            th:text="${medication.name} + ' от ' + ${medication.supplier.name}"></option>
                </select>
            </div>
            <div class="form-item mb-2 center">
                <label for="newAmount">Добавить количество</label>
                <input type="number" id="newAmount" class="form-control">
            </div>
            <input type="submit" class="btn btn-success">
        </form>
        <form id="showFromSupplier" class="w-50 center">
            <label class="form-label">Показать медикаменты от поставщика:</label>
            <select id="fromSupplier" class="form-control">
                <option value="0">Все</option>
                <option th:each="supplier : ${suppliers}"
                    th:value="${supplier.id}"
                    th:text="${supplier.name}">
                </option>
            </select>
            <input type="submit" class="btn btn-success">
        </form>
        <p id="message_box"></p>
        <table class="table table-bordered">
            <thead>
                <th>Название</th>
                <th>Поставщик</th>
                <th>Количество</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <form id="addNewMedication">
                        <td><input type="text" id="name" class="form-control" required></td>
                        <td>
                            <select id="supplier" class="form-control">
                                <option th:each="supplier : ${suppliers}" th:text="${supplier.name}" th:value="${supplier.id}"></option>
                            </select>
                        </td>
                        <td><input type="number" class="form-control" id="amount" required></td>
                    </form>
                    <td><input type="submit" class="btn btn-success add" value="Добавить"></td>
                </tr>
                <tr th:each="medication : ${medications}" th:id="'row_' + ${medication.id}">
                    <form>
                        <td><input type="text" th:value="${medication.name}" th:id="'name_' + ${medication.id}" class="form-control" required></td>
                        <td>
                            <select th:id="'supplier_' + ${medication.id}" class="form-control">
                                <option th:each="supplier : ${suppliers}" th:text="${supplier.name}" th:value="${supplier.id}" th:selected="${medication.supplier.id == supplier.id}"></option>
                            </select>
                        </td>
                        <td><input type="number" th:value="${medication.amount}" th:id="'amount_' + ${medication.id}" class="form-control" required></td>
                    </form>
                    <td><a class="btn btn-success update" th:attr="data-id=${medication.id}">Обновить</a></td>
                    <td><a class="btn btn-danger delete" th:attr="data-id=${medication.id}">Удалить</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<script th:src="@{/js/medications.js}" type="text/javascript"></script>
</body>
</html>