<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Владельцы</title>
    <div th:insert="~{layout :: head}"></div>
    <script th:src="@{/js/owners.js}" type="text/javascript"></script>
</head>
<body>
<div th:insert="~{layout :: header}"></div>
<section>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Номер телефона</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form id="addOwnerForm">
                        <td><input type="text" id="fullName" class="form-control"></td>
                        <td><input type="text" id="phoneNumber" class="form-control"></td>
                        <td><input type="text" id="email" class="form-control"></td>
                        <td><input type="submit" class="btn btn-success" value="Добавить"></td>
                    </form>
                </tr>
                <tr th:each="ownerItem : ${owners}" th:id="'row' + ${ownerItem.id}">
                    <form th:if="${ownerItem.id}">
                        <input type="hidden" th:value="${ownerItem.id}">
                        <td><input type="text" th:value="${ownerItem.fullName}" th:id="'fullName_' + ${ownerItem.id}" class="form-control"></td>
                        <td><input type="text" th:value="${ownerItem.phoneNumber}" th:id="'phoneNumber_' + ${ownerItem.id}" class="form-control"></td>
                        <td><input type="text" th:value="${ownerItem.email}" th:id="'email_' + ${ownerItem.id}" class="form-control"></td>
                    </form>
                    <td><a class="btn btn-success update" th:attr="data-id=${ownerItem.id}">Обновить</a></td>
                    <td><a class="btn btn-danger delete" th:attr="data-id=${ownerItem.id}">Удалить</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>