<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поставщики</title>
  <div th:insert="~{layout :: head}"></div>
</head>
<body>
<header th:insert="~{layout :: header}"></header>
<section>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <th>Имя</th>
                <th>Номер телефона</th>
                <th>Email</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <form id="addNewSupplier">
                        <td><input type="text" id="name" class="form-control" required></td>
                        <td><input type="text" id="phoneNum" class="form-control"></td>
                        <td><input type="email" id="email" class="form-control"></td>
                        <td><input type="submit" class="btn btn-success" value="Добавить"></td>
                    </form>
                </tr>
                <tr th:each="supplier : ${suppliers}" th:id="'row_' + ${supplier.id}">
                    <form>
                        <td><input type="text" th:value="${supplier.name}" th:id="'name_' + ${supplier.id}" class="form-control" required></td>
                        <td><input type="text" th:value="${supplier.phoneNum}" th:id="'phoneNum_' + ${supplier.id}" class="form-control"></td>
                        <td><input type="email" th:value="${supplier.email}" th:id="'email_' + ${supplier.id}" class="form-control"></td>
                    </form>
                    <td><a class="btn btn-success update" th:attr="data-id=${supplier.id}">Обновить</a></td>
                    <td><a class="btn btn-danger delete" th:attr="data-id=${supplier.id}">Удалить</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<script th:src="@{/js/suppliers.js}" type="text/javascript"></script>
</body>
</html>